@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: 'Open Sans' sans-serif;
    color:rgb(0, 0, 0) ;
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #000000;
    padding: 1em 0;
    color: white;
}

.header .logo{
    font-size: 2em;
    margin-left: 10px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav ul li{
    margin-left: 20px;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.nav ul li a:hover{
    background-color: #524f4f;
}

.btn-comprar {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #ff6b6b;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-comprar:hover {
    background-color: #ff4c4c;
}

.btn-comprar:active {
    background-color: #e54444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.banner{
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
    padding: 50px 0;
}

.banner h2{
    font-size: 3em;
}

.banner p{
    font-size: 1.5em;
}

.produtos{
    padding: 50px 0;
}

.section-tittle{
    text-align: center;
    font-size: 2. 5em;
    margin-bottom: 50px;
}

.produtos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 30px;
}

.produto{
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

.produto img{
    max-width: 100%;
    border-radius: 10px;
}

.produto h3{
    margin-top: 15px;
    font-size: 1.5em;
}

.produto p{
    margin: 10px 0;
    font-size: 1em;
}

.produto .preço{
    font-size: 1.2em;
    color: #ff6b6b;
    font-weight: bold;
}

.footer{
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

.footer p{
    margin: 10px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}